---
const platform = "github";
const username = "withastro";
---

<footer>
    <p>Learn more about my projects on <a href="https://github.com/">GitHub</a>!</p>
    <h5>--lpp  2511163452@qq.com--</h5>

</footer>
