---
const platform = "github";
const username = "withastro";
---

<footer>
   
    <h5>--最终解释权归十个勤天农业有限公司--</h5>
     <style>
        h5 {
            text-align: center;
            color: azure;
        }
     </style>

</footer>
