<a href="/">首页</a>
<a href="/about/">关于</a>
<a href="/bolg/">博客</a>
<a href="/笔记/">笔记</a>

<style>
    a {
        color: azure;
        text-decoration-line: none;
        margin-right: 2em;
        transition: border-bottom 0.3s ease,background-color 0.3s ease; 
        background-color: transparent; 
    }
    
     a:hover {  
    background-color:aquamarine
}  

  a.active {  
    border-bottom: 2px solid rgb(96, 183, 96);  
}
</style>